<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>VOIDBOOK 1.0</name>
<preference name="orientation" value="default" />
<preference name="webviewbounce" value="false" />
<description>
VOID BOOKS
</description>
<icon src="images/icon.png" width="57" height="57" />
<icon src="images/icon.png" gap:platform="ios" width="72" height="72" />
<icon src="images/icon.png" width="114" height="114" />

<icon src="images/icon.png" gap:platform="android" gap:density="ldpi" />
<icon src="images/icon.png" gap:platform="android" gap:density="mdpi" />
<icon src="images/icon.png" gap:platform="android" gap:density="hdpi" />
<icon src="images/icon.png" gap:platform="android" gap:density="xhdpi" />

<gap:splash src="images/splash.png" width="320" height="480" />
<gap:splash src="images/splash.png" width="640" height="960" />
<gap:splash src="images/splash.png" width="1024" height="768" />
<gap:splash src="images/splash.png" width="768" height="1024" />

<gap:splash src="images/splash.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="images/splash.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="images/splash.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="images/splash.png" gap:platform="android" gap:density="xhdpi" />
<author href="https://void.fr" email="you@example.com">
VOID TEAM
</author>
<access origin="*" />

</widget>
