<ul>


	<!-- Authentication -->
		<li data-error-class="authentication.accountBlocked">accountBlocked</li>

	<!-- register -->
		<li data-error-class="register.no_sq">Pas de question secrète spécifiée.</li>
		<li data-error-class="register.no_civility">Pas de civilité spécifiée.</li>
		<li data-error-class="register.wrong_civility">Civilité invalide.</li>

	<!-- json -->
		<li data-error-class="json.badformat">Error JSON.</li>

	<!-- Utilisateur Error -->
		<li data-error-class="change.password.partial.registred">Utilisateur inscrit partiellement.</li>
		<li data-error-class="change.password.wrongkey">Lien non valide.</li>
		<li data-error-class="change.password.timeout">Le délai de validation de changement du mot de passe est expiré.</li>
		<li data-error-class="change.password.alreadyvalidate">Lien deja utilisé.</li>

		<li data-error-class="user.secretAnswer.required">La réponse à la question secrète est obligatoire.</li>
		<li data-error-class="user.secretAnswer.wrong">La réponse à la question secrète incorrecte.</li>
		<li data-error-class="user.new.password.max.length">La mot de passe doit être inferieur à 25 caractères.</li>
		<li data-error-class="user.new.password.pattern">La mot de passe doit être composé d'au moins 5 car</li>

	<!-- Transfert -->
		<li data-error-class="transfer.invalidRecipientFormat">invalidRecipientFormat</li>
		<li data-error-class="transfer.invalidRecipients">invalidRecipients</li>
		<li data-error-class="transfer.recipientBlacklisted">recipientBlacklisted</li>
		<li data-error-class="transfer.autoTransfer">autoTransfer</li>
		<li data-error-class="transfer.message.invalid.size">message invalid size</li>

	<!-- Payment -->
	<li data-error-class="payment.notFound">payment notFound</li>

	<!-- Mean of payment -->
	<li data-error-class="meanofpayment.notfound">meanofpayment notfound</li>
	<li data-error-class="meanofpayment.unauthorized.deletion">meanofpayment unauthorized</li>

	<!-- Contact -->
	<li data-error-class="contact.badformat">contact badformat</li>
	<li data-error-class="contact.alreadyavailable">contact already available</li>
	<li data-error-class="contact.notfound">contact not found</li>
	<li data-error-class="contact.autoInvitation">contact autoInvitation</li>
	<li data-error-class="invitation.message.maxsize">invitation message maxsize</li>
	<li data-error-class="invitation.notfound">invitation  not found</li>

	<!-- Notifications -->
	<li data-error-class="notificationsetting.unknown">notificationsetting unknown</li>
	

	<!-- if the Error comming From Server Side -->

	<li data-error-class="server.error">Error 500 From Web services <br/>
		Merci de modifier ce message dans templates/popin/errors-ws/errors.html</li>
	<!-- Error Code not Exist :: if the error key not exist on this file -->


	<li data-error-class="system.errors.keynotfouned">Erreur inconnu</li>
</ul>