<div class="inner info">

	<h1 class="white">Mentions légales</h1>

	<div class="edito">
		<p><strong>Kwixo est un service de FIA-NET Europe.</strong></p>
		<p>FIA-NET Europe est agréée au Grand-Duché de Luxembourg en tant qu’établissement de paiement, et est soumise à la surveillance prudentielle de la Commission de Surveillance du Secteur Financier, établie à L-2991 Luxembourg, 110, route d’Arlon. FIA-NET Europe est inscrite sur le registre des établissements de paiements de la Commission de Surveillance du Secteur Financier consultable à l’adresse internet suivante : <a href="http://www.cssf.lu/entites-surveillees/">http://www.cssf.lu/entites-surveillees/</a></p>
		<p>
			<strong>FIA-NET Europe</strong><br />
			31, Avenue Pasteur<br />
			L-2311 Luxembourg<br />
		</p>
		<p>
			RCS Luxembourg B160401<br />
			Société Anonyme au capital de 19 532 000 € […]<br />
		</p>
	</div>
	
</div><!-- / .inner -->