<div class="inner info">

	<h1 class="white cond">Conditions Générales d'Utilisation</h1>

	<div class="edito">
		<p>
			<strong>CGU DU SERVICE DE PAIEMENT « KWIXO »</strong><br />
			Dernière mise à jour : 05 décembre 2011<br />
		</p>
		<p>
			Les présentes Conditions Générales d’Utilisation relatives aux services de paiement « <strong>Kwixo</strong> » (ci-après « Kwixo » ou les « <strong>Services de Paiement</strong> ») ont vocation à régir les relations entre :<br />
			FIA-NET Europe, une société anonyme, établie et ayant son siège social au 31, Avenue Pasteur, L-2311 Luxembourg, Grand-Duché de Luxembourg, immatriculée au registre de commerce et des sociétés de Luxembourg sous le numéro RCS B 160401 (ci-après « <strong>FIA-NET Europe</strong> ») ayant comme numéro individuel d’identification pour la TVA LU 24685962.<br />
			FIA-NET Europe est agréée au Grand-Duché de Luxembourg en tant qu’établissement de paiement, et est soumise à la surveillance  […]
		</p>
	</div>
	
</div><!-- / .inner -->