<div class="inner success">

	<h1 class="violet">Confirmation du transfert</h1>
	
	<!-- Add class 'simple' to wrapper for another template-->
	<div class="wrapper form simple">
		<div class="halfCol info">
			<p><strong>Vos demandes ont bien été effectuées.</strong> 
			</p> 
		</div> 

		<div class="halfCol info">
			<div class="legend">
				<strong>Chaque destinataire sera prévenu de votre demande par e-mail ou par SMS. Il a 10 jours pour y répondre.</strong>
			</div> 
				<a class="linkk" href="mailto:?Subject=Découvrez Kwixo, le paiement rapide&Body=J'ai trouvé un nouveau moyen simple d'envoyer de l'argent à  mes amis : c'est kwixo. Ca fonctionne sur l'iPhone mais aussi sur Android, Windows Phone 7 et sur le site mobile www.kwixo.com">
				<span class="recommand">
					<strong>Recommander</strong>

				</span>
			</a>
				<div class="recommand">
					<strong>Recommander</strong>

				</div>
			<div class="buttons share">
				<a class="mail" href="mailto:?Subject=Découvrez Kwixo, le paiement rapide&Body=J'ai trouvé un nouveau moyen simple d'envoyer de l'argent à  mes amis : c'est kwixo. Ca fonctionne sur l'iPhone mais aussi sur Android, Windows Phone 7 et sur le site mobile www.kwixo.com">mail</a>
				<a class="facebook" href="https://www.facebook.com/kwixosoquick">facebook</a>
				<a class="twitter" href="https://fr.twitter.com/kwixo">twitter</a>
			</div>
		</div>
		 
		<!--form name="formSend" novalidate="novalidate">

			Bravo

		</form-->

	</div><!-- / .wrapper -->

</div><!-- / .inner -->