 
<%
	var data = model.attributes,
		typ='',
		title = '';

    if (data.type =='historyDemand') {
    	typ = '';
    	title ='en cours';
	} else {
		typ = 2;
		title = 'archivées';
	} 
%>
<div class="inner ">
	
	<h2 class='violet<%= typ %>'><%= title %></h2>
 

	<div class="wrapper form history"> 
 
		<div class="link notif push">
			<figure>
				<img src="img/photo-histo.jpg" alt="" />
			</figure>
			<div class="text">
				<strong>Vous avez envoyé <%= data.amount %> € à <%= data.references %> </strong>
				<span>
					Référence : <%= data.references %><br />
					Etat : <%= data.state %></span> 
				<% if(model.attributes.type =='historyDemand'){ %> <strong>Date d’envoi : <%= data.creationDate %></strong> <% } %>
			</div>
		</div>

		<div class="link notif push">
			<figure>
				<img src="img/photo-histo.jpg" alt="" />
			</figure>
			<div class="text">
				<span>Objet : <strong><%= data.object %></strong></span>
				<span>Message : <strong><%= data.message %></strong> </span>
			</div>
		</div>	
		<% if(model.attributes.type =='historyDemand'){ %>
			<div class="halfCol info"> 
				<div class="legend">
					<strong>Le destinataire a été informé de votre envoi. S’il est déjà membre, il sera crédité automatiquement. Sinon, il aura 5 jours pour s’inscrire à Kwixo afin de bénéficier de votre transfert.</strong>
				</div> 
				<div class="buttons">
					<a href="javascript:history.back();" class="button2">Annuler</a>
				</div>
			</div>
		<% } %>

	</div><!-- / .fieldset -->
 

</div><!-- / .inner -->