<%
	var loading = model.get('loading');
%>
<div class="inner <% if(loading){ %>loading<% }; %>">

	<h1 class="sky">Vos informations personnelles</h1>

	<% if(!loading){ %>

	<%
		var address = model.get('address'),
			emails = model.get('emails');
	%>
	
	<div class="form wrapper">
		
		<div class="secure">
			
			<div class="legend">Identifiants</div>

			<p>
				<strong><%= model.get('mainEmail') %></strong><br />
				<strong><%= model.get('mobilePhoneNumber') %></strong><br />
			</p>

			<p>Pour modifier vos identifiants, rendez-vous sur le site www.kwixo.com, dans votre Espace Membre.</p>

		</div><!-- / .secure -->

		<div class="personal">
			
			<div class="legend">Données personnelles</div>

			<div class="sheet">
				
				<%= model.get('title') %> <strong><%= model.get('firstname') %> <%= model.get('lastname') %></strong><br />
				Né(e) le <strong><%= model.get('birthDate') %></strong><br />
				
				<% if(address){ %>

				<strong>
					<%= address.streetNumber %> <%= address.address %><br />
					<%= address.zipCode %> <%= address.town %><br />
					<%= address.country %><br />
				</strong>

				<% }; %>

				Profession : <strong><%= model.get('professionnalCategory') %></strong><br />
				<br />
				
				<% if(emails){ %>

				E-mails secondaires :<br />
				<strong>
					<% _.each(emails,function(email){ %>
					<%= email %><br />
					<% }); %>
				</strong>
				<% }; %>

				<a class="edit" href="#user/others/profile/infos/edit">Modifier</a>

			</div><!-- / .data -->

			<div class="sheet">
				Votre mot de passe
				<a class="edit" href="#user/others/profile/infos/password">Modifier</a>
			</div><!-- / .data -->

		</div><!-- / .personal -->

	</div><!-- / .wrapper -->
	
	<% }; %>

</div>