<%
	var loading = model.get('loading');
%>
<div class="inner <% if(loading){ %>loading<% }; %>">

	<h1 class="sky">Vos informations personnelles</h1>

	<% if(!loading){ %>

	<%
		var address = model.get('address'),
			emails = model.get('emails');
	%>
	
	<div class="form secure wrapper">
		
		<form class="editform" novalidate="novalidate">
			<fieldset>			
				<legend><strong>Données personnelles</strong></legend>
				
				<p>
					<%= model.get('title') %> <%= model.get('firstname') %> <%= model.get('lastname') %><br />
					Né(e) le <%= model.get('birthDate') %><br />
				</p>
				
				<% if(address){ %>

				<div class="field">
					<input type="text" name="address" id="address" value="<%= address.address %>" required="required" pattern="^[a-zA-Zéèëêàùûöô\- ]{1,40}$" />
				</div><!-- / .field -->

				<div class="field">
					<input type="text" name="zipCode" id="zipCode" value="<%= address.zipCode %>" required="required" pattern="^[a-zA-Zéèëêàùûöô\- ]{1,40}$" />
				</div><!-- / .field -->

				<div class="field">
					<input type="text" name="town" id="town" value="<%= address.town %>" required="required" pattern="^[a-zA-Zéèëêàùûöô\- ]{1,40}$" />
				</div><!-- / .field -->

				<div class="field">
					<select name="countryCode" id="countryCode" required="required">
						<option value="FR"<% if('FR' == address.country){ %> selected="selected"<% }; %>>France</option>
						<option value="LU"<% if('LU' == address.country){ %> selected="selected"<% }; %>>Luxembourg</option>
					</select>
				</div><!-- / .field -->

				<% }; %>

				<div class="field">
					<select name="professionnalCategory" id="professionnalCategory">
						<option value="0">Sélectionner</option>
						<option value="1">Agriculteurs exploitants</option>
						<option value="2">Artisans, commerçants et chefs d'entreprises</option>
						<option value="3">Cadres du secteur privé et professions indépendantes</option>
						<option value="4">Professions intermédiaires</option>
						<option value="5">Employés</option>
						<option value="6">Ouvriers</option>
						<option value="7">Retraités</option>
						<option value="8">Autres, sans activité professionnelle</option>

					</select>
				</div><!-- / .field -->
				
				<% if(emails){ %>
				<div class="sheet">

					<% _.each(emails,function(email){ %>
					<div class="field">
						<input type="text" name="town" id="town" value="<%= email %>" required="required" pattern="^[a-zA-Zéèëêàùûöô\- ]{1,40}$" />
					</div><!-- / .field -->
					<% }); %>

				</div><!-- / .grey -->
				<% }; %>

				<div class="buttons">
					<input type="reset" name="clear" value="Effacer" />
					<input type="submit" name="send" value="Modifier" />
				</div><!-- / .buttons -->

			</fieldset>
		</form><!-- / .editForm -->

	</div><!-- / .wrapper -->
	
	<% }; %>

</div>