<div class="title">Confirmer la bonne réception de votre commande</div>

<p>Voulez-vous valider la réception de votre commande et le débit de votre moyen de paiement ?</p>

<div class="buttons">
	<div class="button cancel">Annuler</div>
	<div class="button valid">Confirmer</div>
</div>

<small>Si un litige survenait après cette validation, les services Kwixo ne pourraient plus être mis en jeu. Vous devriez trouver un accord à l’amiable directement avec le commerçant.</small>
<small>Par ailleurs, sans déclaration de litige de votre part, nous vous rappelons que l’ordre de débit sera définitivement confirmé le #date#.</small>