<div class="title">Confirmer votre refus</div>
<p>
	Souhaitez-vous vraiment refuser cette demande ?<br />
	Si oui, elle sera archivée. L’émetteur sera prévenu de votre choix.<br />
</p>

<input type="checkbox" name="blacklist" id="blacklist" /><label for="blacklist">Je souhaite également bloquer ce contact afin qu'il ne puisse plus me soliciter via Kwixo</label>

<div class="buttons">
	<div class="button cancel">Annuler</div>
	<div class="button valid">Confirmer</div>
</div>

<small>Si vous souhaitez déclarer un abus, rendez-vous sur le site internet fixe www.kwixo.com.</small>