<ul>


	<!-- Form Inscription -->
		<li class="firstName">
			<div class='empty'>Veuillez renseigner votre nom</div>
			<div class='error'>Veuillez utiliser des lettres uniquement</div>
		</li>	
		<li class="lastName">
			<div class='empty'>Veuillez renseigner votre prénom</div>
			<div class='error'>Veuillez utiliser des lettres uniquement</div>
		</li>
		<li class="birthDate">
			<div class='empty'>Veuillez renseigner votre date de naissance</div>
			<div class='error'>Attention, vous n'avez pas 18 ans révolus ! vous ne pouvez pas utiliser ce service !</div>
		</li>
		<li class="address">
			<div class='empty'>Veuillez renseigner votre addresse</div>
			<div class='error'>Merci de vérifier votre addresse</div>
		</li>
		<li class="zipCode">
			<div class='empty'>Veuillez renseigner votre code postal</div>
			<div class='error'>Merci de vérifier votre Code postal </div>
		</li>
		<li class="town">
			<div class='empty'>Veuillez renseigner votre ville</div>
			<div class='error'>Merci de vérifier votre ville</div>
		</li>
		<li class="countryCode">
			<div class='empty'>Veuillez sélectionner votre pays</div>
			<div class='error'>Merci de vérifier votre pays</div>
		</li>
		<li class="professionnalCategory">
			<div class='empty'>Veuillez sélectionner une profession</div>
			<div class='error'>Merci de vérifier votre profession</div>
		</li>
		<li class="termsOfServiceAccepted">
			<div class='empty'>Veuillez renseigner j'ai et j'accepte</div>
			<div class='error'>Veuillez accepter les CGU Kwixo</div>
		</li>
		<li class="email">
			<div class='empty'>Veuillez renseigner votre adresse mail</div>
			<div class='error'>Adresse mail  invalide, merci de vérifier votre saisie</div>
		</li>
		<li class="emailClone">
			<div class='empty'>Merci de remplir le champ confirm email</div>
			<div class='error'>Les deux adresses saisies ne sont pas identiques </div>
		</li>
		<li class="mobile">
			<div class='empty'>Merci de vérifier la saisie du champs mobile</div>
			<div class='error'>Merci de vérifier la saisie du champs mobile</div>
		</li>
		<li class="password">
			<div class='empty'>Veuillez renseigner  votre mot de passe</div>
			<div class='error'>Votre mot de passe doit contenir au moins 5 caractères</div>
		</li>
		<li class="passwordClone">
			<div class='empty'>Veuillez confirmer votre mot de passe</div>
			<div class='error'>Les deux mots de passe saisis ne sont pas identiques</div>
		</li>
		<li class="secretQuestion">
			<div class='empty'>Veuillez choisir votre quetion secrète</div>
			<div class='error'>Veuillez choisir votre quetion secrète</div>
		</li>		
		<li class="secretQuestionAnswer">
			<div class='empty'>Veuillez saisir la réponse de votre question secrète</div>
			<div class='error'>Veuillez saisir la réponse de votre question secrète</div>
		</li>
		<li class="optin">
			<div class='empty'>Merci d'accepter que FIA-NET Europe conserve vos coordonnées bancaires</div>
			<div class='error'>Merci d'accepter que FIA-NET Europe conserve vos coordonnées bancaires</div>
		</li>		
		<li class="type">
			<div class='empty'>Merci de renseigner votre type de carte</div>
			<div class='error'>Merci de vérifier votre type de carte</div>
		</li>	
		<li class="cardCode">
			<div class='empty'>Merci de remplir votre card Code</div>
			<div class='error'>Merci de vérifier votre card Code</div>
		</li>
		<li class="expMonth">
			<div class='empty'>Merci de renseigner Expiration : mois</div>
			<div class='error'>Merci de vérifier Expiration : mois</div>
		</li>
		<li class="expYear">
			<div class='empty'>Merci de remplir Expiration : année</div>
			<div class='error'>Merci de vérifier Expiration : année</div>
		</li>
		<li class="crypto">
			<div class='empty'>Merci de renseigner crypto</div>
			<div class='error'>Merci de vérifier crypto</div>
		</li>

		<!-- On Error Not Founed -->
		<li class="notfouned">
			L'erreur dans le champ <b>__Type__</b> n'exist pas! merci de le rajouter dans le fichier d'erreur :<br/>
			templates/popin/erros.forms.hml
		 </li>


</ul>