<p>
	<strong>Frais</strong><br />
	Aucuns frais lors d'une demande d’argent.

</p>

<p>
	<strong>Plafond</strong><br />

	Les transferts d’argent sont limités à 15 sur 7 jours consécutifs.<br /><br />

	Vous pouvez demander entre 1 et 250 € à la fois. Votre interlocuteur doit avoir le statut certifié pour pouvoir vous envoyer des montants supérieurs. Vous trouverez toutes les informations dans la rubrique "Plafonds" de l'Aide.<br/><br />

	Pour modifier votre moyen de réception principal, rendez-vous dans la rubrique "Votre profil" puis "Vos moyens de paiement et de réception" de l'application.

</p>