<div class="title">Confitions générales d'utilisation du service de paiement "Kwixo"</div>

<p><em>Dernière mise à jour : 05 décembre 2011</em></p>

<p>Les présentes Conditions Générales d’Utilisation relatives aux services de paiement « Kwixo » (ci-après « Kwixo » ou les « Services de Paiement ») ont vocation à régir les relations entre :</p>

<p>FIA-NET Europe, une société anonyme, établie et ayant son siège social au 31, Avenue Pasteur, L-2311 Luxembourg, Grand-Duché de Luxembourg, immatriculée au registre de commerce et des sociétés de Luxembourg sous le numéro RCS B 160401 (ci-après « FIA-NET Europe») ayant comme numéro individuel d’identification pour la TVA LU 24685962.</p>

<p>FIA-NET Europe est agréée au Grand-Duché de Luxembourg en tant qu’établissement de paiement, et est soumise à la surveillance prudentielle de.la Commission de Surveillance du Secteur Financier, établie à L-2991 Luxembourg, 110, route d’Arlon. FIA-NET Europe est inscrite sur le registre des établissements de paiements de la Commission de Surveillance du Secteur Financier consultable à l’adresse internet suivante : <a href="http://www.cssf.lu/entites-surveillees/" target="_blank">http://www.cssf.lu/entites-surveillees/</a>. […]</p>
