<p>
	<strong>Plafonds</strong><br />
	Vous pouvez envoyer entre 1 et 250 euros à la fois.<br />
<br />Par mesure de sécurité, les envois d’argent sont limités à 15 transferts sur 7 jours consécutifs. 
Un code de sécurité, à usage unique, vous sera transmis pour tout transfert dépassant 150 €. 
Les transferts de petites sommes (< 150 euros) sont limités à 300 euros sur 7 jours.<br />
<br />
Obtenez le statut certifié pour pouvoir dépasser ces limites
<br />

</p>

<p>
	<strong>Frais d’envoi</strong><br />

		Tous les transferts d'argent sont gratuits.<br />
		Seul le coût de connexion à Internet mobile est facturé. Pour en savoir plus, contactez votre opérateur en téléphonie mobile.<br />
		Pour choisir votre moyen de paiement principal, rendez-vous dans la rubrique « Votre profil" puis "Vos informations bancaires" de l'application.<br />
		Offre réservée aux résidents français majeurs, paiement en euros.


</p>