<%
	var step = model.get('step');
%>

<div class="inner">

	<h1 class="white">Mot de passe oublié ?</h1>

	<div class="form wrapper">
		
		<% if(1 == step) { %>

		<form name="emailForm" class="emailForm" novalidate="novalidate">
			
			<div class="field">
				<label for="email">Indiquez l’e-mail qui vous sert d’identifiant Kwixo</label>
				<input type="email" name="email" id="email" placeholder="votre e-mail" pattern="^[a-zA-Zéèëêàùûöô\-/ ]{1,32}$"  />
			</div><!-- / .field -->

			<div class="buttons">
				<input type="submit" name="continue" class="validEmail" value="Continuer" />
			</div><!-- / .buttons -->

		</form><!-- / .emailForm -->

		<% } else if(2 == step) { %>
		
		<form name="answerForm" class="answerForm" novalidate="novalidate">
			
			<p>Lors de votre inscription, vous avez choisi la question secrète suivante :</p>

			<p><strong><%= model.get('question') %></strong></p>

			<input type="hidden" name="email" value="<%= model.get('email') %>" />

			<div class="field">
				<label for="answer">Merci de saisir la réponse :</label>
				<input type="text" name="answer" id="answer" pattern="^[a-zA-Zéèëêàùûöô\-/ ]{1,32}$"  />
			</div><!-- / .field -->

			<div class="buttons">
				<input type="submit" name="valid" class="validAnswer" value="Valider" />
			</div><!-- / .buttons -->

			<small>
				Si vous ne vous souvenez pas de votre réponse, vous pouvez également contacter notre Service Information Kwixo par téléphone, au 09 74 508 509, du lundi au samedi, de 9h à 20h (France métropolitaine).<br />
			</small>

		</form><!-- / .answerForm -->

		<% } else { %>

		<div class="edito">
					
			<p>Un e-mail vient de vous être envoyé à l’adresse e-mail que vous avez saisie.</p>

			<p>Dès sa réception, merci de cliquer sur le lien contenu dans le message.</p>

			<p>Vous pourrez ainsi créer votre nouveau mot de passe.</p>

			<p>Si aucun e-mail n’apparait, vérifiez vos  courriers indésirables.</p>

			<div class="buttons">
				<a class="button" href="#home">Continuer</a>
			</div><!-- / .buttons -->

		</div><!-- / .edito -->

		<% }; %>

	</div>
	
</div><!-- / .inner -->