<%
	var securityData = model.get('securityData');
%>
<div class="inner form final"> 

	<div class="wrapper">

		<div class="halfCol personal">
			<div class="legend"><strong>Finalisez votre inscription</strong></div>
			
			<p><strong class="purple">Un e-mail vous a été envoyé. Merci de cliquer sous 24 H sur le lien qu’il contient</strong> pour valider vos données et utiliser ensuite Kwixo.</p>

		</div><!-- / .halfCol -->

		<div class="halfCol secure">
			<div class="legend"><strong>Récapitulatif de vos données</strong></div>
			
			<p><strong>Vos identifiants</strong></p>
			<div class="data">
				<span>E-mail :</span> <strong><%= securityData.email %></strong><br />
				<span>N° de mobile :</span> <strong><%= securityData.mobile %></strong><br />
			</div>
			
			<p><strong>Votre moyen de paiement</strong></p>
			<div class="data">
				<span>Carte bancaire :</span> <strong><%= securityData.cb %></strong><br />
			</div>

		</div><!-- / .halfCol -->

		<div class="buttons">
			<a href="#home" class="button">Continuer</a>
		</div><!-- / .buttons -->

		 
			<span class="txt-cnt">Kwixo est un établissement de paiement <br /> et s'engage à ne pas communiquer vos données</span>
			<span class="txt-cnt2">Kwixo est un établissement de paiement et s'engage à ne pas communiquer vos données</span>
		
	</div><!-- / .fieldset -->

</div><!-- / .inner -->