<div class="inner">

	<h1 class="violet">Pas encore inscrit ?</h1>

	<div class="wrapper">
	
		<div class="join">
			
			<h2>Inscrivez-vous à Kwixo</h2>
			
			<p>La solution de paiement simple, gratuite et sécurisée</p>

			<div class="buttons">
				<a class="button" href="#join/step1">S'inscrire</a>
			</div><!-- / .buttons -->			

		</div><!-- / .join -->

		<div class="invitational">

			<h2>Kwixo vous a solicité ?</h2>

			<ul class="listed">
				<li class="purple"><a href="#join/pending">Vous avez reçu de l'argent</a></li>
				<li class="white"><a href="#join/step1">Vous avez reçu<br />une demande d'argent ?</a></li>
			</ul>

		</div><!-- / .invitational -->

	</div>

	<div class="links bot">
		<ul>
			<li class="purple backward"><a href="javascript:history.back();">Déjà inscrit</a></li>
		</ul>
	</div><!-- / .links -->

	<div class="saver"></div><!-- Saver count must be equal to number of links -->

</div><!-- / .inner -->