<%
	var questions = model.get('questions'),
		securityData = model.get('securityData'),
		prefixs = model.get('prefixs');
%>

<div class="inner secure form">

	<form class="joinForm wrapper" data-root="securityData" novalidate="novalidate">
		<fieldset>
			<legend><strong>Identifiants</strong> - 2/3</legend>

			<div class="halfCol">

				<div class="field">
					<label for="email">E-mail <span>*</span></label>
					<input type="email" name="email" maxlength="70" id="email" value="<%= securityData.email %>" required="required" pattern="^[a-zA-Zéèëêàùûöô\- ]{1,40}$" />
				</div><!-- / .field -->

				<div class="field">
					<label for="emailClone">Confirmez votre e-mail <span>*</span></label>
					<input type="email" name="emailClone" maxlength="70" id="emailClone" value="<%= securityData.emailClone %>" required="required" pattern="^[a-zA-Zéèëêàùûöô\- ]{1,40}$" />
				</div><!-- / .field -->
				
				<div class="field">		
					<label for="mobile">N° de mobile <span>*</span></label>
					<div class="prefixed">
						<select name="prefix" id="prefix">
							<% _.each(prefixs,function(option){ %>
							<option value="<%= option.value %>" <% if(option.value == securityData.prefix){ %>selected="selected"<% }; %>><%= option.label %></option>					
							<% }); %>
						</select>
						<input type="tel" name="mobile" id="mobile" maxlength="10" placeholder="votre n° (ex: 611223344)" value="<%= securityData.mobile %>" pattern="[0-9]*" />
					</div><!-- / .composed -->
				</div><!-- / .field -->

				<div class="field pass">
					<label for="password">Créez votre mot de passe <span>*</span></label>
					<input type="password" name="password" maxlength="25" id="password" value="<%= securityData.password %>" required="required" pattern="^[a-zA-Zéèëêàùûöô\- ]{1,40}$" />
					<span class="short " id="result"></span>
				</div><!-- / .field -->

				<div class="field pass2">
					<label for="passwordClone">Confirmez votre mot de passe <span>*</span></label>
					<input type="password" name="passwordClone" maxlength="25" id="passwordClone" value="<%= securityData.passwordClone %>" required="required" pattern="^[a-zA-Zéèëêàùûöô\- ]{1,40}$" />
				</div><!-- / .field -->

			</div><!-- / .halfCol -->

			<div class="halfCol">

				<div class="field">
					<label for="secretQuestion">Choisissez votre quetion secrète <span>*</span></label>
					<select name="secretQuestion" id="secretQuestion" required="required">
						
						<option value=""></option>	
						<% _.each(questions,function(question){ %>
						<option value="<%= question.key %>" <% if(question.key == securityData.secretQuestion){ %>selected="selected"<% }; %>><%= question.label %></option>					
						<% }); %>
					</select>
				</div><!-- / .field -->

				<div class="field">
					<label for="secretQuestionAnswer">Saisissez votre réponse <span>*</span></label>
					<input type="password"  maxlength="30" name="secretQuestionAnswer" id="secretQuestionAnswer" value="<%= securityData.secretQuestionAnswer %>" required="required" pattern="^[a-zA-Zéèëêàùûöô\- ]{1,40}$" />
				</div><!-- / .field -->

				<div class="sub field">
					<input type="checkbox" name="optin" id="optin" required="required" <% if(true == securityData.optin){ %>checked="checked"<% }; %> /><label for="optin"><strong>J'accepte que FIA-NET Europe conserve mes coordonnées bancaires*</strong></label>
				</div><!-- / .sub -->

			</div><!-- / .halfCol -->

			<div class="buttons">
				<input type="submit" name="continue" class="continueStep3" value="Continuer" />
			</div><!-- / .buttons -->

			<small>
				* Informations obligatoires. <a href="#popin/id/mcom_popup-donnees-perso">Mentions données personnelles</a><br />
			</small> 

			<span class="txt-cnt">Kwixo est un établissement de paiement <br /> et s'engage à ne pas communiquer vos données</span>
			<span class="txt-cnt2">Kwixo est un établissement de paiement et s'engage à ne pas communiquer vos données</span>

		</fieldset>

	</form>

</div><!-- / .inner -->