<%
	var bankData = model.get('bankData');
%>

<div class="inner secure form formInline">

	<form class="joinForm wrapper" data-root="bankData" novalidate="novalidate">
		<fieldset>
			<legend><strong>Enregistrer une carte bancaire</strong> - 3/3</legend>

			<div class="halfCol alone">

				<div class="field">
					<label for="type">Type <span>*</span></label>
					<select name="type" id="type" required="required">
						<option value="CB"<% if('CB' == bankData.typecarte){ %> selected="selected"<% }; %>>CB</option>
						<option value="VISA"<% if(!bankData.typecarte || 'VISA' == bankData.typecarte){ %> selected="selected"<% }; %>>VISA</option>
						<option value="EUROCARD_MASTERCARD"<% if('EUROCARD_MASTERCARD' == bankData.typecarte){ %> selected="selected"<% }; %>>EUROCARD_MASTERCARD</option>
						<option value="MASTERCARD"<% if('MASTERCARD' == bankData.typecarte){ %> selected="selected"<% }; %>>MASTERCARD</option>
					</select> 
				</div><!-- / .field -->

				<div class="field">
					<label for="cardCode">N° de carte<span>*</span></label>
					<input type="text" name="cardCode" id="cardCode" value="<%= bankData.cardCode %>" pattern="^[0-9]{13}$" required="required" />
				</div><!-- / .field -->

				<div class="field splited">
					<label for="expMonth">Expiration <span>*</span></label>
					<select name="expMonth" id="expMonth" required="required">
						<option value=""<% if(!bankData.expMonth || '0' == bankData.expMonth){ %> selected="selected"<% }; %>>Mois</option>
						<option value="01"<% if('01' == bankData.expMonth){ %> selected="selected"<% }; %>>01</option>
						<option value="02"<% if('02' == bankData.expMonth){ %> selected="selected"<% }; %>>02</option>
						<option value="03"<% if('03' == bankData.expMonth){ %> selected="selected"<% }; %>>03</option>
						<option value="04"<% if('04' == bankData.expMonth){ %> selected="selected"<% }; %>>04</option>
						<option value="05"<% if('05' == bankData.expMonth){ %> selected="selected"<% }; %>>05</option>
						<option value="06"<% if('06' == bankData.expMonth){ %> selected="selected"<% }; %>>06</option>
						<option value="07"<% if('07' == bankData.expMonth){ %> selected="selected"<% }; %>>07</option>
						<option value="08"<% if('08' == bankData.expMonth){ %> selected="selected"<% }; %>>08</option>
						<option value="09"<% if('09' == bankData.expMonth){ %> selected="selected"<% }; %>>09</option>
						<option value="10"<% if('10' == bankData.expMonth){ %> selected="selected"<% }; %>>10</option>
						<option value="11"<% if('11' == bankData.expMonth){ %> selected="selected"<% }; %>>11</option>
						<option value="12"<% if('12' == bankData.expMonth){ %> selected="selected"<% }; %>>12</option>
					</select>
					<select name="expYear" id="expYear" required="required">
						<option value=""<% if(!bankData.expYear || '0' == bankData.expYear){ %> selected="selected"<% }; %>>Année</option>
						<option value="2013"<% if('2013' == bankData.expYear){ %> selected="selected"<% }; %>>2013</option>
						<option value="2014"<% if('2014' == bankData.expYear){ %> selected="selected"<% }; %>>2014</option>
						<option value="2015"<% if('2015' == bankData.expYear){ %> selected="selected"<% }; %>>2015</option>
						<option value="2016"<% if('2016' == bankData.expYear){ %> selected="selected"<% }; %>>2016</option>
					</select>
				</div><!-- / .field -->

				<div class="field">
					<label for="crypto">Crypto<span>*</span></label>
					<input type="text" name="crypto" id="crypto" value="<%= bankData.crypto %>" pattern="^[0-9]{3}$" required="required" />
				</div><!-- / .field -->

			</div><!-- / .halfCol -->

			<div class="buttons">
				<input type="submit" name="validate" class="validateStep3" value="Valider" />
			</div><!-- / .buttons -->

			<small>
				* Informations obligatoires. <a href="#popin/id/mcom_popup-donnees-perso">Mentions données personnelles</a><br />
			</small> 

			<span class="txt-cnt">Kwixo est un établissement de paiement <br /> et s'engage à ne pas communiquer vos données</span>
			<span class="txt-cnt2">Kwixo est un établissement de paiement et s'engage à ne pas communiquer vos données</span>

		</fieldset>

	</form>

</div><!-- / .inner -->