<%
	var options = model.get('options'),
		transfertType = model.get('transfertType'),
		endDate = model.get('endDate');
%>

<div class="inner">

	<h1 class="purple">Envoyer  de l'argent</h1>

	<div class="wrapper form formInline">

		<form name="formSend" novalidate="novalidate">

			<div class="field">
				<a href="#user/send/contacts" class="add">Contacts</a>
				<label for="recipientLogins">
					À<span>*</span>
				</label>
				<input type="text" name="recipientLogins" id="recipientLogins" placeholder="e-mail ou n° de mobile" value="<%= model.get('recipientLogins') %>" pattern="^[0-9]{13}$" required="required" />
			</div><!-- / .field -->

			<div class="field help">
				<label for="amount">Montant<span>*</span></label>
				<input type="text" name="amount" id="amount" placeholder="0,00" value="<%= model.get('amount') %>" pattern="^[0-9]{13}$" required="required" />
				<span class="sym">€</span>
				<a href="#popin/id/mtra_popup-envoyer-montant">?</a>
			</div><!-- / .field -->

			<div class="field">
				<label for="subject">Objet<span>*</span></label>
				<input type="text" name="subject" id="subject" placeholder="20 cractères max" value="<%= model.get('subject') %>" pattern="^[0-9]{13}$" required="required" />
			</div><!-- / .field -->


			<div class="field">
				<label for="meanOfPaymentId" class="twoLine">
					Carte/Cpte <span>*</span><br />
					<a href="#0">+ carte</a><br />
				</label>
				<select name="meanOfPaymentId" id="meanOfPaymentId" required="required">
					<% _.each(model.get('means'),function(mean){ %>
					<option value="<%= mean.id %>" <% if(mean.id == model.get('meanOfPaymentId')){ %>selected="selected"<% }; %>><%= mean.name %></option>					
					<% }); %>
				</select>
			</div><!-- / .field -->

			<div class="<% if(!options){ %>collapsed <% }; %>folder select">Options du transfert</div>
			

			<% if(options){ %>
			<div class="options">
				
				<a class="photoLib">Photo (Lib)</a>
				<a class="photoCam">Photo (Cam)</a>

				<div class="field">
					<label for="message">Message<span>*</span></label>
					<textarea name="message" id="message" placeholder="250 caractères max"><%= model.get('message') %></textarea>
				</div><!-- / .field -->

				<div class="field">
					<label for="transfertType" class="twoLine">
						Type de<br />
						transfert<br />
					</label>
					<select name="transfertType" id="transfertType" required="required">
						<option value="Unique"<% if('Unique' == transfertType){ %> selected="selected"<% }; %>>Unique</option>
						<option value="Permanent"<% if('Permanent' == transfertType){ %> selected="selected"<% }; %>>Permanent</option>
					</select>
				</div><!-- / .field -->

				<% if('Unique' == transfertType){ %>
				<div class="field">
					<label for="dateToBeExecuted" class="twoLine">Date de<br />mise en place<span>*</span></label>
					<input type="text" name="dateToBeExecuted" id="dateToBeExecuted" placeholder="20 cractères max" value="<%= model.get('dateToBeExecuted') %>" pattern="^[0-9]{13}$" required="required" />
				</div><!-- / .field -->
				<% }; %>
				<% if('Permanent' == transfertType){%>
				<div class="field">
					<label for="periodicity">Périodicité</label>
					<select name="periodicity" id="periodicity" class="select" required="required">
						<% _.each(model.get('transfertTypes'),function(group){ %>
						<optgroup label="<%= group.label %>">
							<% _.each(group.options,function(option){ %>
							<option value="<%= option.value %>"<% if(option.value == model.get('periodicity')){ %> selected="selected"<% }; %>><%= option.label %></option>
							<% }); %>
						</optgroup>
						<% }); %>
					</select>
				</div><!-- / .field -->

				<div class="field">
					<label for="recurrenceEndDate">Date de fin<span>*</span></label>
					<input class="toggle" type="checkbox" name="endDate" id="endDate" value="true" <% if(endDate){ %>checked="checked"<% }; %> /><label for="endDate">Choisir une date de fin</label>
					<% if(endDate){ %>
					<input type="text" name="recurrenceEndDate" id="recurrenceEndDate" placeholder="JJ/MM/AAAA" value="<%= model.get('recurrenceEndDate') %>" pattern="^[0-9]{13}$" />
					<% }; %>
				</div><!-- / .field -->

				<div class="field classic">
					<span class="label">Être averti 2j avant la date d'envoi ?</span>
					<input class="toggle" type="checkbox" name="recallEmail" id="recallEmail" value="true" <% if(model.get('recallEmail')){ %>checked="checked"<% }; %> /><label for="recallEmail">Oui / Non</label>
				</div><!-- / .field invert -->
				<% }; %>

			</div><!-- / .options -->
			<% }; %>

			<div class="buttons">
				<input type="reset" name="clear" value="Effacer" />
				<input type="submit" name="send" value="Envoyer" />
			</div><!-- / .buttons -->

			<small>* Informations obligatoire</small>

		</form>

	</div><!-- / .wrapper -->

</div><!-- / .inner -->