 <div class="inner success">

	<h1 class="purple">Confirmation du transfert</h1>

	<div class="wrapper form">
		<div class="halfCol info">
			<p><strong>Votre transfert à <span># Prénom Nom#</span> a bien été effectué. </strong></p>
			<div class="legend">
				<strong>Le destinataire a été informé de votre envoi. S’il est déjà membre, il sera crédité automatiquement. Sinon, il aura 5 jours pour s’inscrire à Kwixo afin de bénéficier de votre transfert.</strong>
			</div> 
			<div class="recommand">
				<strong>Recommander</strong>
			</div>
		</div>
		<div class="buttons share">
			<a class="mail" href="mailto:?Subject=Découvrez Kwixo, le paiement rapide&Body=J'ai trouvé un nouveau moyen simple d'envoyer de l'argent à  mes amis : c'est kwixo. Ca fonctionne sur l'iPhone mais aussi sur Android, Windows Phone 7 et sur le site mobile www.kwixo.com">mail</a>
			<a class="facebook" href="https://www.facebook.com/kwixosoquick">facebook</a>
			<a class="twitter" href="https://fr.twitter.com/kwixo">twitter</a>
		</div>
		 
		<!--form name="formSend" novalidate="novalidate">

			Bravo

		</form-->

	</div><!-- / .wrapper -->

</div><!-- / .inner -->