<%
	var loading = (0 == collection.models.length),
		group = false;
	if(!loading){
		group = _.groupBy(collection.models,function(contact){
			if(contact.get('name').formatted) var r = contact.get('name').formatted.charAt(0).toLowerCase();
			if(contact.get('name').familyName) var r = contact.get('name').familyName.charAt(0).toLowerCase();
			return r || '...';
		});
	};
%>

<div class="inner <% if(loading){ %>loading<% }; %>">

	<% if('send' == contactMod){ %>
		<h1 class="purple">Envoyer  de l'argent</h1>	
	<% } else { %>
		<h1 class="violet">Demander  de l'argent</h1>
	<% }; %>

	<div class="wrapper contacts">
		
	
		<ul>
			<!--
		<% for(var letter in group){ %>
			<li>
				<span><%= letter %></span>
				<ul>
				<%
					_.each(group[letter],function(contact){
						var name = contact.get('name'),
							id = contact.get('id');
				%>
					<li><a href="#user/<%= contactMod %>/contact/<%= id %>">
						<img id="avatar<%= id %>" src="<%= contact.get('photos') || 'img/avatar.png' %>" width="42" height="40" />
						<span class="iskwixo">-</span>
						<span class="name"><%= name.givenName %> <strong><%= name.familyName || name.formatted %></strong></span>
					</a></li>
				<% }); %>
				</ul>
			</li>
		<% }; %>

	-->

			<% _.each(collection.models , function(model){  
					var attrs = model.attributes;
			%>
			<li>
				<span></span>
				<ul>
					<li><a href="#user/<%= contactMod %>/contact/">
						<img id="avatar" src="img/avatar.png" width="42" height="40" />
						<span class="iskwixo">-</span>
						<span class="name"><%= attrs.name %></span>
					</a></li>
				<% }); %>
				</ul>
			</li>
		
		</ul>
		
	</div><!-- / .wrapper -->

</div><!-- / .inner -->